body {
	background-image: url("https://images.freeimages.com/images/large-previews/6ea/plant-1389859.jpg");
}

h1 {
	padding: 40px;
	font-variant-caps: small-caps;
    text-align: center; 
	color: white;
	font-size: 200%;
	text-shadow: 2px 2px 6px black, 3px 3px 8px black;
	}

h3 {
	text-align: center;
	color: #3A0B3F;
}

a {
	text-decoration: none;
}

p {
	text-indent: 10px;
}

i {
	color: green
    }

#section {
	margin: 10px;
	border: 1px groove #000;
	border-radius: 5px;
	padding: 10px;
	background-color: #FDEFF8;
}

#presentation {
	background-color: #ffffff99;
	margin: 30px;
	border: none;
	padding: 10px;
}
    
.danger {
	color: red;
	font-family: "Lucida Handwriting", "Brush Script MT", Papyrus, sans-serif;
}

.center {
	text-align: center;
}

ul {
    list-style-type : circle ;
}

